.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 500px;
  background-color: var(--color-background-light);
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  gap: 30px;
}
